<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-xs-4">
            <label for="filtro">Filtrar por Nombre:</label>
            <input type="text" id="filtro"
                   data-ng-model="searchText"
                   data-ng-change="searchTextChanged()"
                   />
        </div>  
        <a ui-sref="registroPacientes"><span class="glyphicon glyphicon-plus"></span> Nuevo Paciente</a>
    </div>
    <div class="panel-body">
        <div class="grid">
            <div>
                <h3>Lista de pacientes</h3>
            </div>
            <!-- Binds the grid component to be displayed. -->
            <div class="gridStyle" ng-grid="gridOptions"></div>

            <!--  Bind the pagination component to be displayed. -->
            <pagination direction-links="true" boundary-links="true"
                        total-items="pacientes.totalResults" items-per-page="pacientes.pageSize"
                        ng-model="usuarios.currentPage" ng-change="refreshGrid()">
            </pagination>
        </div>
    </div>
    <!--div>
        <form name="testForm" ng-submit="Autenticar()" novalidate>
            Form buttons. The 'Save' button is only enabled when the form is valid. 
            <div class="buttons">
              <button type="button" class="btn btn-primary" ng-click="cancelar()">Cancelar</button>
              <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
        </form>
    </div-->
</div>

