<div class="col-md-11">     
    <div class="page-title" ng-if="eps.idPersona == null">
        <h2>Crear nueva EPS</h2>
    </div>
    <div class="page-title" ng-if="eps.idPersona != null">
        <h2>Modificar EPS</h2>
    </div>

    <div>
        <form name="epsForm" ng-submit="updateEps()" class="form-horizontal" novalidate>
            <div class="col-xs-12" style="margin-bottom: 3em">
                <div class="col-md-6">
                    <!-- Razon Social-->
                    <div class="form-group" ng-class="{'has-error' : epsForm.razonSocial.$invalid && epsForm.razonSocial.$dirty}">
                        <label style="text-align:right" class="col-md-4 label-info control-label label label-form">Razón Social:</label>
                        <!-- Display a check when the field is valid and was modified -->
                        <span ng-class="{'glyphicon glyphicon-ok' : epsForm.razonSocial.$valid && epsForm.razonSocial.$dirty}"></span>
                        <div class="col-md-6 col-xs-12">
                            <input id="razonSocial" name="razonSocial" type="text" class="form-control" maxlength="30"
                                   ng-model="eps.razonSocial" required ng-minlength="3" ng-maxlength="30"
                                   placeholder="Ingrese razón social"/>                      
                        </div>                    
                        <!-- Validation messages to be displayed on required, minlength and maxlength -->
                        <p class="help-block" ng-show="epsForm.razonSocial.$error.minlength">Debe tener al menos 3 digitos</p>
                        <p class="help-block" ng-show="epsForm.razonSocial.$error.maxlength">No debe superar los 30 digitos</p>
                    </div>
                    <!-- Tipo de identificación -->
                    <div class="form-group" ng-class="{'has-error' : epsForm.tipoIdentificacion.$invalid && epsForm.tipoIdentificacion.$dirty}">
                        <label style="text-align:right" class="col-md-4 label-info control-label label label-form">Tipo Identificación:</label>
                        <!-- Display a check when the field is valid and was modified -->
                        <span ng-class="{'glyphicon glyphicon-ok' : epsForm.tipoIdentificacion.$valid && epsForm.tipoIdentificacion.$dirty}"></span>
                        <div class="col-md-6 col-xs-12" >
                            <select name="tipoIdentificacion" id="tipoIdentificacion" ng-model="eps.tipoIdentificacion" class="form-control" required>
                                <option ng-repeat="option in listaTiposIdentificacion" value="{{option.id}}">{{option.name}}</option>
                            </select>                        
                        </div>
                        <!--
                        <p class="help-block" ng-show="clienteForm.IdType.$error.required">Seleccione tipo de identificacion.</p>
                        -->
                    </div>
                    <!-- Representante Legal -->
                    <div class="form-group" ng-class="{'has-error' : epsForm.representanteLegal.$invalid && epsForm.representanteLegal.$dirty}">
                        <label style="text-align:right" class="col-md-4 label-info control-label label label-form">Representante Legal:</label>
                        <!-- Display a check when the field is valid and was modified -->
                        <span ng-class="{'glyphicon glyphicon-ok' : epsForm.representanteLegal.$valid && epsForm.representanteLegal.$dirty}"></span>
                        <div class="col-md-6 col-xs-12">
                            <input id="representanteLegal" name="representanteLegal" type="text" class="form-control" maxlength="30"
                                   ng-model="eps.representanteLegal" required ng-minlength="3" ng-maxlength="30"
                                   placeholder="Ingrese representante legal"/>                      
                        </div>

                        <!-- Validation messages to be displayed on required, minlength and maxlength -->
                        <p class="help-block" ng-show="epsForm.representanteLegal.$error.minlength">Debe tener al menos 3 digitos</p>
                        <p class="help-block" ng-show="epsForm.representanteLegal.$error.maxlength">No debe superar los 30 digitos</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Número de identificación -->
                    <div class="form-group" ng-class="{'has-error' : epsForm.identificacion.$invalid && epsForm.identificacion.$dirty}">
                        <label style="text-align:right" class="col-md-4 label-info control-label label label-form">Identificación:</label>
                        <!-- Display a check when the field is valid and was modified -->
                        <span ng-class="{'glyphicon glyphicon-ok' : epsForm.identificacion.$valid && epsForm.identificacion.$dirty}"></span>
                        <div class="col-md-6 col-xs-12">
                            <input id="identificacion" name="identificacion" type="number" class="form-control" maxlength="20"
                                   ng-model="eps.numeroIdentificacion" required ng-minlength="3" ng-maxlength="20"
                                   placeholder="Ingrese NIT sin digito verificación"/>                     
                        </div>

                        <!-- Validation messages to be displayed on required, minlength and maxlength -->
                        <p class="help-block" ng-show="epsForm.identificacion.$error.minlength">Debe tener al menos 3 digitos.</p>
                        <p class="help-block" ng-show="epsForm.identificacion.$error.maxlength">La identifiacion no debe superar 20 digitos.</p>
                    </div>
                    <!-- Fecha de Constitucion -->
                    <div class="form-group" ng-class="{'has-error' : epsForm.fechaConstitucion.$invalid && epsForm.fechaConstitucion.$dirty}">
                        <label style="text-align:right" class="col-md-4 label-info control-label label label-form">Fecha de Constitución:</label>
                        <!-- Display a check when the field is valid and was modified -->
                        <span ng-class="{'glyphicon glyphicon-ok' : epsForm.fechaConstitucion.$valid && epsForm.fechaConstitucion.$dirty}"></span>
                        <div class="col-md-6 col-xs-12">
                            <input id="fechaConstitucion" name="fechaConstitucion" type="date" class="form-control" placeholder="dd/MM/yyyy"
                                   ng-model="eps.fechaConstitucion"
                                   required ng-minlength="5" ng-maxlength="100"/>
                            <!-- Validation messages to be displayed on required, minlength and maxlength -->
                        <p class="help-block" ng-show="epsForm.fechaConstitucion.$error.required">Ingrese fecha de nacimiento.</p>
                        </div>
                    </div>
                </div>
                <!-- Datos básicos -->
            </div>
            <div class="panel-footer" align="right">                                                                        
                <button type="button" class="btn btn-primary" ng-click="cancelar()">Cancelar 
                    <span class="glyphicon glyphicon-floppy-remove"></span>
                </button>                                                                        
                <button type="submit" class="btn btn-primary" ng-disabled="epsForm.$invalid">
                    Guardar 
                    <span class="fa fa-floppy-o"></span>
                </button>
            </div>
        </form>
    </div>
</div>