#Archivo para no subir basura al repositorio

*.class
/proyecto/sisc_persistencia/target/
/proyecto/sisc_agenda/sisc_agenda-shared/target/
/proyecto/sisc_agenda/sisc_agenda-ejb/target/
/proyecto/sisc_agenda/sisc_agenda-api/target/
/proyecto/sisc_agenda/sisc_agenda-ear/target/
#Registro
/proyecto/sisc_registro/sisc_registro-ejb/target/
/proyecto/sisc_registro/sisc_registro-api/target/
/proyecto/sisc_registro/sisc_registro-ear/target/
/proyecto/sisc_registro/sisc_registro-shared/target/
#Se excluye los target de seguridad
/proyecto/sisc_seguridad/sisc_seguridad-api/target/
/proyecto/sisc_seguridad/sisc_seguridad-ear/target/
/proyecto/sisc_seguridad/sisc_seguridad-ejb/target/
/proyecto/sisc_seguridad/sisc_seguridad-shared/target/
/proyecto/sisc_hc/sisc_hc-ejb/target/
/proyecto/sisc_hc/sisc_hc-api/target/
/proyecto/sisc_hc/sisc_hc-ear/target/
/proyecto/sisc_hc/sisc_hc-shared/target/