#Archivo para no subir basura al repositorio

*.class
/proyecto/sisc_persistencia/target/
/proyecto/sisc_agenda/sisc_agenda-shared/target/
/proyecto/sisc_agenda/sisc_agenda-ejb/target/
/proyecto/sisc_agenda/sisc_agenda-api/target/
/proyecto/sisc_agenda/sisc_agenda-ear/target/
/proyecto/sisc_registro/sisc_registro-ejb/target/
/proyecto/sisc_registrosisc_registro-api/target/
/proyecto/sisc_registro/sisc_registro-ear/target/