<div class="panel panel-default">
    <div class="page-title">
        <center>
            <h2>Asociar beneficiarios a cotizante</h2>
        </center>
    </div>
    <form name="BeneficiarioForm" class="form-horizontal" ng-submit="updateBeneficiario()" novalidate>
        <div class="col-md-11">
            <div class="col-md-6 col-xs-12" style="margin-bottom: 3em">
                <div class="panel-body">
                    <!--Numero Id Cotizante -->
                    <div class="form-group" ng-class="{'has-error' : BeneficiarioForm.identificacionCotizante.$invalid && BeneficiarioForm.identificacionCotizante.$dirty}">
                        <label class="col-md-3 col-xs-12 label-info control-label label label-form">Identificación:</label>
                        <!-- Display a check when the field is valid and was modified -->
                        <span ng-class="{'glyphicon glyphicon-ok' : BeneficiarioForm.identificacionCotizante.$valid && BeneficiarioForm.identificacionCotizante.$dirty}"></span>
                        <div class="col-md-6 col-xs-12">
                            <input id="identificacionCotizante" name="identificacionCotizante" type="number" class="form-control" maxlength="20"
                                   ng-model="cotizante.numeroIdentificacion" required ng-minlength="3" ng-maxlength="20" readonly/>
                        </div>
                    </div>

                    <!-- Nombres -->
                    <div class="form-group" ng-class="{'has-error' : BeneficiarioForm.nombresCotizante.$invalid && BeneficiarioForm.nombresCotizante.$dirty}">
                        <label class="col-md-3 col-xs-12 label-info control-label label label-form">Nombres:</label>
                        <!-- Display a check when the field is valid and was modified -->
                        <span ng-class="{'glyphicon glyphicon-ok' : BeneficiarioForm.nombresCotizante.$valid && BeneficiarioForm.nombresCotizante.$dirty}"></span>
                        <div class="col-md-6 col-xs-12">
                            <input id="nombres" name="nombresCotizante" type="text" class="form-control" maxlength="30"
                                   ng-model="cotizante.nombres" required ng-minlength="3" ng-maxlength="30" readonly/>
                        </div>
                    </div>

                    <!-- Apellidos -->
                    <div class="form-group" ng-class="{'has-error' : BeneficiarioForm.apellidosCotizante.$invalid && BeneficiarioForm.apellidosCotizante.$dirty}">
                        <label class="col-md-3 col-xs-12 label-info control-label label label-form">Apellidos:</label>
                        <!-- Display a check when the field is valid and was modified -->
                        <span ng-class="{'glyphicon glyphicon-ok' : BeneficiarioForm.apellidosCotizante.$valid && BeneficiarioForm.apellidosCotizante.$dirty}"></span>
                        <div class="col-md-6 col-xs-12">
                            <input id="apellidos" name="apellidosCotizante" type="text" class="form-control" maxlength="30"
                                   ng-model="cotizante.apellidos" required ng-minlength="3" ng-maxlength="30" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12" style="margin-bottom: 3em; margin-left: 0em">
                <!--Filtro -->
                <div class="panel-heading" style="margin-bottom: 3em">
                    <h4>Buscar beneficiarios</h4>
                    <div class="col-md-12 col-xs-12" style="align-content: center">
                        <label class="col-md-3 col-xs-12 label-info control-label label label-form">Identificación:</label>
                        <div class="col-md-5 col-xs-12">
                            <input type="text" data-ng-model="numeroIdBeneficiario" />
                        </div>
                        <button type="button" class="col-md-2 btn btn-primary btn-sm" ng-click="buscarBeneficiario()">Buscar 
                            <span class="fa fa-search"></span>
                        </button>
                    </div>  
                </div>

                <!-- Nombres -->
                <div class="form-group" ng-class="{'has-error' : BeneficiarioForm.nombresBeneficiario.$invalid && BeneficiarioForm.nombresBeneficiario.$dirty}">
                    <label class="col-md-3 col-xs-12 label-info control-label label label-form">Nombres:</label>
                    <span ng-class="{'glyphicon glyphicon-ok' : BeneficiarioForm.nombresBeneficiario.$valid && BeneficiarioForm.nombresBeneficiario.$dirty}"></span>
                    <div class="col-md-6 col-xs-12">
                        <input id="nombres" name="nombresBeneficiario" type="text" class="form-control" maxlength="30"
                               ng-model="beneficiario.nombres" required ng-minlength="3" ng-maxlength="30" readonly/>
                    </div>
                </div>

                <!-- Apellidos -->
                <div class="form-group" ng-class="{'has-error' : BeneficiarioForm.apellidosBeneficiario.$invalid && BeneficiarioForm.apellidosBeneficiario.$dirty}">
                    <label class="col-md-3 col-xs-12 label-info control-label label label-form">Apellidos:</label>
                    <span ng-class="{'glyphicon glyphicon-ok' : BeneficiarioForm.apellidosBeneficiario.$valid && BeneficiarioForm.apellidosBeneficiario.$dirty}"></span>
                    <div class="col-md-6 col-xs-12">
                        <input id="apellidos" name="apellidosBeneficiario" type="text" class="form-control" maxlength="30"
                               ng-model="beneficiario.apellidos" required ng-minlength="3" ng-maxlength="30" readonly/>
                    </div>
                </div>

                <!--Parentezco-->
                <div class="form-group" ng-class="{'has-error' : BeneficiarioForm.parentezco.$invalid && BeneficiarioForm.parentezco.$dirty}">
                    <label class="col-md-3 col-xs-12 label-info control-label label label-form">Parentezco</label>
                    <span ng-class="{'glyphicon glyphicon-ok' : BeneficiarioForm.parentezco.$valid && BeneficiarioForm.parentezco.$dirty}"></span>
                    <div class="col-md-6 col-xs-12">
                        <select name="parentezco" id="parentezco" ng-model="parentezco" class="form-control select" required>
                            <option ng-repeat="option in listaTiposParentezco" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div> 
                <button type="button" class="btn btn-primary" ng-click="asociarBeneficiario()">Asociar 
                    <span class="fa fa-puzzle-piece"></span>
                </button>
            </div>
            <div class="md-col-11">
                <div class="grid">
                    <div>
                        <h3>Lista de Beneficiarios</h3>
                    </div>
                    <div class="gridStyle" ng-grid="gridOptions"></div>
                    <pagination direction-links="true" boundary-links="true"
                                total-items="beneficiarios.totalResults" items-per-page="beneficiarios.pageSize"
                                ng-model="beneficiarios.currentPage" ng-change="refreshGrid()">
                    </pagination>
                </div>
            </div>
            <!--Boton guardar solo se lleva el ID del cotizante, ID del beneficiario y Parentezco -->
            <!-- Form buttons. The 'Save' button is only enabled when the form is valid. -->
            <div class="buttons">
                <button type="button" class="btn btn-primary" ng-click="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-primary" ng-disabled="BeneficiarioForm.$invalid">Guardar</button>
            </div>
        </div>
    </form>    
</div>

<div class="message-box message-box-success animated fadeIn" id="guardar-beneficiario-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span> Asociación almacenada correctamente</div>
            <div class="mb-content">
                <p>  </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" ng-click="closepopup()">Aceptar</button>
            </div>
        </div>
    </div>
</div>