<div class="col-md-6 col-md-offset-3">
  <!-- Verify person, if there is no id present, that we are Adding a Person -->
  <div ng-if="acceso.acceAcce == null">
    <h3>Crear nuevo Acceso</h3>
  </div>
  <!-- Otherwise it's an Edit -->
  <div ng-if="acceso.acceAcce != null">
    <h3>Modificar Acceso</h3>
  </div>

  <div>
    <!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
    <form class="form-horizontal" name="accesoForm" ng-submit="updateAcceso()" novalidate>
      
      <!-- Nombre Acceso-->
      <div class="form-group" ng-class="{'has-error' : accesoForm.acceNombre.$invalid && accesoForm.acceNombre.$dirty}">
        <label for="acceNombre">Nombre Acceso:</label>
        <!-- Display a check when the field is valid and was modified -->
        <span ng-class="{'glyphicon glyphicon-ok' : accesoForm.acceNombre.$valid && accesoForm.acceNombre.$dirty}"></span>
        <input id="acceNombre" name="acceNombre" type="text" class="form-control" maxlength="50"
               ng-model="acceso.acceNombre" required ng-minlength="2" ng-maxlength="50" placeholder="Ingrese un nombre de acceso valido"/>

        <!-- Validation messages to be displayed on required, minlength and maxlength -->
        <p class="help-block" ng-show="accesoForm.acceNombre.$error.minlength">Debe tener al menos 2 caracteres.</p>
        <p class="help-block" ng-show="accesoForm.acceNombre.$error.maxlength">El nombre de acceso no debe superar 50 characters.</p>
      </div>  
      
      <!-- Descripcion -->
      <div class="form-group" ng-class="{'has-error' : accesoForm.acceDesc.$invalid && accesoForm.acceDesc.$dirty}">
        <label for="acceDesc">Descripción acceso:</label>
        <!-- Display a check when the field is valid and was modified -->
        <span ng-class="{'glyphicon glyphicon-ok' : accesoForm.acceDesc.$valid && accesoForm.acceDesc.$dirty}"></span>
        <input id="acceDesc" name="acceDesc" type="text" class="form-control" maxlength="200"
               ng-model="acceso.acceDesc" required ng-minlength="5" ng-maxlength="200" placeholder="Ingrese una descripcion valida"/>

        <!-- Validation messages to be displayed on required, minlength and maxlength -->
        <p class="help-block" ng-show="accesoForm.acceDesc.$error.minlength">Debe tener al menos 5 caracteres.</p>
        <p class="help-block" ng-show="accesoForm.acceDesc.$error.maxlength">La descripcion no debe superar 200 characters.</p>
      </div>
      

      <!-- Form buttons. The 'Save' button is only enabled when the form is valid. -->
      <div class="buttons">
        <button type="button" class="btn btn-primary" ng-click="cancelar()">Cancelar</button>
        <button type="submit" class="btn btn-primary" ng-disabled="accesoForm.$invalid">Guardar</button>
      </div>
    </form>
  </div>
</div>