<!--TITULO-->
<div class="page-title">                    
    <h2><span class="fa fa-bookmark"></span> Agenda</h2>
</div>   
<!--CALENDARIO DE AGENDA--> 
<div class="col-md-11">
    <div class="panel panel-default tabs">                            
        <ul class="nav nav-tabs" role="tablist">
            <li ng-click="changeView('month', 'myCalendar1')"       class="active"><a  role="tab" data-toggle="tab">Ver agenda del mes</a></li>
            <li ng-click="changeView('agendaWeek', 'myCalendar1')"  ><a  role="tab" data-toggle="tab">Ver agenda de la semana</a></li>
            <li ng-click="changeView('agendaDay', 'myCalendar1')"   ><a role="tab" data-toggle="tab">Ver agenda del día</a></li>

        </ul>
        <div class="panel-body tab-content">
            <div class="tab-pane active" id="tab-first">
                <div class="col-md-12">
                    <div class="calendar" ng-model="eventSources2" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                </div>
            </div>
        </div>
    </div>  

</div>
<!-- FORMULARIO NUEVA AGENDA-->
<div class="col-md-12">
    <h4>Ingresar nueva agenda</h4>
    <div class="col-md-5">
        <div class="form-group">
            <label>Fecha inicio de agenda:</label>
            <div class="input-group">
                <input type="hidden"  class="form-control datepicker">
                <input type="text" id="dp-3"  ng-model="nuevaAgenda.fechaInicio"   class="form-control"  
                       data-date-format="dd-mm-yyyy" data-date-viewmode="years"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="form-group">
            <label>Hora de inicio</label>
            <div class="input-group bootstrap-timepicker">
                <input type="text"  value="08:00:00" ng-model="nuevaAgenda.horaInicio"    class="form-control timepicker24"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
        </div>
    </div>
    <div class="col-md-5">       
        <div class="form-group">
            <label>Fecha final de agenda:</label>
            <div class="input-group">
                <input type="text" id="dp-3"  ng-model="nuevaAgenda.fechaFinal"   class="form-control"  
                       data-date-format="dd-mm-yyyy" data-date-viewmode="years"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="form-group">
            <label>Hora de fin</label>          
            <div class="input-group bootstrap-timepicker">
                <input type="text" value="12:00:00" ng-model="nuevaAgenda.horaFinal"   class="form-control timepicker24"/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <br>
        <div class="form-group">
            <label>Aplicar horario para los siguientes dias</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-2" ng-repeat="dia in nuevaAgenda.semana.listaDias">                                    
                            <label class="check">
                                <input type="checkbox"  id="{{dia.dia}} "
                                       ng-click="colocarDiasAgenda(dia, choice, $index)"  
                                       ng-model="choice.checked" /> 
                                {{dia.dia}} 
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Cantidad de minutos por cita:</label>           
            <input type="text"  ng-model="nuevaAgenda.cantidadMinutosXCita"  class="form-control" />   
        </div>
        <div class="form-group">
            <label>Ciudad:</label>           
            <input type="text"  ng-model="nuevaAgenda.ciudad"  class="form-control" />   
        </div>
        <div class="form-group">
            <label>Direccion:</label>           
            <input type="text"  ng-model="nuevaAgenda.direccion"  class="form-control" />   
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label >Agendar cita en EPS: </label>
            <select  ng-model="nuevaAgenda.idPersonaEps"  class="form-control">
                <option ng-repeat="personaEps in listEpsMedico" value="{{personaEps.idPersonaEps}}"> {{personaEps.eps.razonSocial}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>Localidad:</label>           
            <input type="text"  ng-model="nuevaAgenda.localidad"  class="form-control" />   
        </div>
        <div class="form-group">
            <label>Consultorio:</label>           
            <input type="text"  ng-model="nuevaAgenda.consultorio"  class="form-control" />   
        </div>
    </div>


    <div class="col-md-10" align="center">
        <br><br>
        <button type="button" class="btn btn-primary" ng-click="agregarAgenda()">
            Agendar espacio
        </button>
    </div>

    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->


</div>


<!--MENSAJES DE ERROR Y CONFRMACION--> 
<!-- Mensaje de error -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="z-index: inherit;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cita #{{infoConsultaCita.idCita}}</h4>
            </div>
            <!--<p>-->
            <!--<div>sdsdsa</div>-->
            <!--</p>-->
            <div class="col-md-12" >
                <div class="mb-content">

                    <div class="panel panel-default tabs nav-tabs-vertical">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a  style="width: 210px !important"  data-toggle="tab" onClick="$('#tab222').show();$('#tab232').hide();$('#tab242').hide();" aria-expanded="true">
                                    Informacion de la cita 
                                </a>
                            </li>
                            <li class="">
                                <a  style="width: 210px !important"  data-toggle="tab" onClick="$('#tab232').show();$('#tab222').hide();$('#tab242').hide();" aria-expanded="false">
                                    Informacion del paciente
                                </a>
                            </li>
                            <li class="">
                                <a  style="width: 210px !important"  data-toggle="tab" onClick="$('#tab242').show();$('#tab222').hide();$('#tab232').hide();" aria-expanded="false">
                                    Opciones de cita
                                </a>
                            </li>
                        </ul>                    
                        <div class="panel-body tab-content" style="margin-left: 199px;">
                            <div class="tab-pane active" style="display: none" id="tab222" >
                                <div class="panel-body panel-body-table">
                                    <div class="table-responsive" align="center">
                                        <table class="table table-bordered table-striped table-actions">
                                            <tbody>                                            
                                                <tr id="trow_1">
                                                <td >Fecha</td>
                                                <td width="210"><strong>{{infoConsultaCita.horaInicio | getFormatofecha}}</strong></td>
                                                </tr>
                                                <tr id="trow_2">
                                                <td >Inicia a las: </td>
                                                <td width="210"><strong>{{infoConsultaCita.horaInicio | getFormatoHora}}</strong></td>
                                                </tr>
                                                <tr id="trow_3">
                                                <td >Termina a las:</td>
                                                <td width="210"><strong>{{infoConsultaCita.horaFin | getFormatoHora}}</strong></td>
                                                </tr>
                                                <tr>
                                                <td>Ciudad </td>
                                                <td width="210"><strong></strong></td>
                                                </tr>
                                                <tr>
                                                <td width="210">Localidad </td>
                                                <td><strong></strong></td>
                                                </tr>
                                                <tr>
                                                <td width="210">Direccion </td>
                                                <td><strong><1</strong></td>
                                                </tr>
                                                <tr>
                                                <td width="210">Consultorio </td>
                                                <td><strong><1</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                

                                </div>

                            </div>
                            <div class="tab-pane active" style="display: none" id="tab232">

                            </div>
                            <div class="tab-pane active" style="display: none" id="tab242">

                            </div>                        
                        </div>
                    </div>                              
                </div>     
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="message-box message-box-danger animated fadeIn" data-sound="fail"  id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Error</div>
            <div class="mb-content">
                <p>
                    {{objErrorNuevaAgenda.mensajeError}}<br>
                <div style="overflow-y: scroll; height: 100px;    padding-top:10px">
                    <table class="table">
                        <thead>
                            <tr>
                            <th># </th>
                            <th>Fecha: </th>
                            <th>Horario: </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="trow_1" ng-repeat="citaEror in objErrorNuevaAgenda.objError"> 
                            <td>{{citaEror.idCita}}</td>
                            <td>{{citaEror.horaInicio| getFormatofecha }}</td>
                            <td>de {{citaEror.horaInicio| getFormatoHora }} a {{citaEror.horaFin| getFormatoHora }}</td>
                            </tr>   
                        </tbody>
                    </table>
                </div>    
                </p>                    
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onClick=" $('#message-box-sound-2').hide()">Error</button>
            </div>
        </div>
    </div>
</div>
<!-- fin mensaje de error -->

<!-- mensaje de confirmacion -->
<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span> Agenda creada</div>
            <div class="mb-content">
                <p>{{generalResponse.mensaje}}, agenda creada del {{generalResponse.fechaInicialAgenda| getFormatofecha }} 
                    al {{generalResponse.fechaFinalAgenda| getFormatofecha }} los dias {{generalResponse.dias}} en el horario de {{generalResponse.fechaInicialAgenda| getFormatoHora }}
                    a {{generalResponse.fechaFinalAgenda| getFormatoHora }}
                </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" ng-click="terminarCreacionNuevaAgenda()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--PopUp informacion cita--> 
<div class="message-box animated fadeIn" data-sound="alert" id="message-box-sound-1">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-globe"></span> Cita #{{infoConsultaCita.idCita}}</div>

            <div class="mb-footer">
                <button class="btn btn-info btn-lg pull-right mb-control-close" onClick="$('#message-box-sound-1').hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>






<!-- fin mensaje de confirmacion -->

<!-- START PRELOADS -->
<!--<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
 END PRELOADS              

 START SCRIPTS 
 START PLUGINS 
-->

<!--<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>     -->

<!--
 END PLUGINS 

 THIS PAGE PLUGINS 
-->
<!--<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-file-input.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-select.js"></script>
<script type="text/javascript" src="js/plugins/tagsinput/jquery.tagsinput.min.js"></script>-->

<!-- END THIS PAGE PLUGINS        

 START TEMPLATE -->
<!--<script type="text/javascript" src="js/settings.js"></script>

<script type="text/javascript" src="js/plugins.js"></script>        
<script type="text/javascript" src="js/actions.js"></script>        -->
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->  