<!--TITULO-->
<style>
    .propiedades-opcion-cita{
        color: white;
        width: 136px;
        height: 100px;
    }
    .f-rojo{
        background: #B40404;


    }
    .f-rojo-min{
        background:#FACC2E;
    }
    .f-verde{
        background:#088A08;
    }
    .f-azul{
        background: #2a6496;
    }
    .citas-dis{
        font-size: 14px !important;
        color: #5cb85c !important;
    }

</style>

<script>

    $('.datepicker-sisc').datepicker({
        autoclose: true,
        dateFormat: 'dd-mm-yyyy'
    }).on("changeDate", function (e) {
        console.log(e.date);
    });
    $('.timepicker24').timepicker({
        showMeridian: false,
        showSeconds: true
    });
    $('.timepicker24').on('click', function () {
        $('.timepicker24').timepicker('setTime', new Date());
    });

</script>


<div class="page-title">                    
    <h2><span class="fa fa-bookmark"></span> Agenda 28</h2>
</div>

<!--<div ng-show="loading" class="loading"><img src="img/loaders/loading.gif">LOADING...</div>-->


<!--<div id="cargando" style="background: url(img/loaders/loading.gif) no-repeat center;">
    loading ???
</div>-->
<div id="loadingModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="z-index: inherit;">
        <div class="modal-content">
            <div class="modal-header">
                <!--                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                <div style='text-align: center'>
                    <img src="img/loaders/loading.gif">
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h1>Cargando...</h1>
    </div>
    <div class="modal-body">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>
</div>

<!--CALENDARIO DE AGENDA--> 
<div class="col-md-11">
    <div class="panel panel-default tabs">                            
        <ul class="nav nav-tabs" role="tablist">
            <li ng-click="changeView('month', 'myCalendar1')"       class="active"><a  role="tab" data-toggle="tab">Ver agenda del mes</a></li>
            <li ng-click="changeView('agendaWeek', 'myCalendar1')"  ><a  role="tab" data-toggle="tab">Ver agenda de la semana</a></li>
            <li ng-click="changeView('agendaDay', 'myCalendar1')"   ><a role="tab" data-toggle="tab">Ver agenda del día</a></li>

        </ul>
        <div class="panel-body tab-content">
            <div class="tab-pane active" id="tab-first">
                <div class="col-md-12">
                    <div class="calendar" ng-model="eventSources2" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

            <span class="fa fa-circle text-success citas-dis"></span>
            &nbsp;&nbsp;Citas disponibles
        </div>
        <div class="col-md-3">

            <span class="fa fa-circle text-success citas-dis"></span>
            &nbsp;&nbsp;Citas disponibles
        </div>
    </div>  

    <div>


    </div>
</div>
<!-- FORMULARIO NUEVA AGENDA-->
<form name="formAgregarNuevaAgenda" ng-submit="agregarAgenda()" novalidate>
    <div class="col-md-12">
        <h4>Ingresar nueva agenda</h4>
        <div class="col-md-5">
            <div class="form-group" ng-class="{'has-error' : formAgregarNuevaAgenda.fechaInicio.$invalid && formAgregarNuevaAgenda.fechaInicio.$dirty}">
                <label>Fecha inicio de agenda:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : formAgregarNuevaAgenda.fechaInicio.$valid && formAgregarNuevaAgenda.fechaInicio.$dirty}"></span>
                <div class="input-group">
                    <!--<input type="hidden"  class="form-control datepicker">-->
                    <input type="text" id="datepicker"  required ng-model="nuevaAgenda.fechaInicio"  name="fechaInicio" class="form-control datepicker-sisc"  
                           data-date-format="dd-mm-yyyy" data-date-viewmode="years"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <p class="help-block" ng-show="formAgregarNuevaAgenda.fechaInicio.$error.required">Ingresa la fecha de inicio.</p>
            </div>
            <div class="form-group" ng-class="{'has-error' : formAgregarNuevaAgenda.horaInicio.$invalid && formAgregarNuevaAgenda.horaInicio.$dirty}">
                <label>Hora de inicio</label>
                <span ng-class="{'glyphicon glyphicon-ok' : formAgregarNuevaAgenda.horaInicio.$valid && formAgregarNuevaAgenda.horaInicio.$dirty}"></span>
                <div class="input-group bootstrap-timepicker">
                    <input type="text" name="horaInicio" required value="08:00:00" ng-model="nuevaAgenda.horaInicio"  id="timepickerAgenda"  class="form-control timepicker24"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>
                <p class="help-block" ng-show="formAgregarNuevaAgenda.horaInicio.$error.required">Ingresa la hora de inicio.</p>
            </div>            
        </div>
        <div class="col-md-5">       
            <div class="form-group" ng-class="{'has-error' : formAgregarNuevaAgenda.fechaFinal.$invalid && formAgregarNuevaAgenda.fechaFinal.$dirty}">
                <label>Fecha final de agenda:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : formAgregarNuevaAgenda.fechaFinal.$valid && formAgregarNuevaAgenda.fechaFinal.$dirty}"></span>
                <div class="input-group">
                    <input name="fechaFinal" required type="text" id="datepicker"  ng-model="nuevaAgenda.fechaFinal" class="form-control datepicker-sisc"  
                           data-date-format="dd-mm-yyyy" data-date-viewmode="years"/>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <p class="help-block" ng-show="formAgregarNuevaAgenda.fechaFinal.$error.required">Ingresa la fecha final.</p>
            </div>
            <div class="form-group" ng-class="{'has-error' : formAgregarNuevaAgenda.horaFinal.$invalid && formAgregarNuevaAgenda.horaFinal.$dirty}">
                <label>Hora de fin</label>
                <span ng-class="{'glyphicon glyphicon-ok' : formAgregarNuevaAgenda.horaFinal.$valid && formAgregarNuevaAgenda.horaFinal.$dirty}"></span>
                <div class="input-group bootstrap-timepicker">
                    <input type="text" name="horaFinal" required value="12:00:00" ng-model="nuevaAgenda.horaFinal"    class="form-control timepicker24"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                </div>
                <p class="help-block" ng-show="formAgregarNuevaAgenda.horaFinal.$error.required">Ingresa la hora final.</p>
            </div>
        </div>
        <div class="col-md-10">
            <br>
            <div class="form-group" ng-class="{'has-error' :nuevaAgenda.semana.numeroDiasSelecionado <= 0 }">
                <label>Aplicar horario para los siguientes dias</label>   
                <span ng-class="{'glyphicon glyphicon-ok' :nuevaAgenda.semana.numeroDiasSelecionado > 0}"></span>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-2" ng-repeat="dia in nuevaAgenda.semana.listaDias">                                    
                                <label class="check">
                                    <input type="checkbox" name="checkboxDia" id="{{dia.dia}} "
                                           ng-click="colocarDiasAgenda(dia, choice, $index)"  
                                           ng-model="choice.checked" /> 
                                    {{dia.dia}} 
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-5">

            <div class="form-group" ng-class="{'has-error' : formAgregarNuevaAgenda.cantidadMinutosXCita.$invalid && formAgregarNuevaAgenda.cantidadMinutosXCita.$dirty}">
                <label>Cantidad de minutos por cita:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : formAgregarNuevaAgenda.cantidadMinutosXCita.$valid && formAgregarNuevaAgenda.cantidadMinutosXCita.$dirty}"></span>
                <input type="text"   name="cantidadMinutosXCita" required ng-model="nuevaAgenda.cantidadMinutosXCita"  class="form-control" />   
                <p class="help-block" ng-show="formAgregarNuevaAgenda.cantidadMinutosXCita.$error.required">Ingresa la cantidad de minutos por cita.</p>
            </div>

            <div class="form-group" ng-class="{'has-error' : formAgregarNuevaAgenda.ciudad.$invalid && formAgregarNuevaAgenda.ciudad.$dirty}">
                <label>Ciudad:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : formAgregarNuevaAgenda.ciudad.$valid && formAgregarNuevaAgenda.ciudad.$dirty}"></span>
                <input type="text"  ng-model="nuevaAgenda.ciudad" name="ciudad" required  class="form-control" />   
                <p class="help-block" ng-show="formAgregarNuevaAgenda.ciudad.$error.required">Ingresa la ciudad.</p>
            </div>

            <div class="form-group" ng-class="{'has-error' : formAgregarNuevaAgenda.direccion.$invalid && formAgregarNuevaAgenda.direccion.$dirty}">
                <label>Direccion:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : formAgregarNuevaAgenda.direccion.$valid && formAgregarNuevaAgenda.direccion.$dirty}"></span>
                <input type="text"  ng-model="nuevaAgenda.direccion" name="direccion"  required class="form-control" />   
                <p class="help-block" ng-show="formAgregarNuevaAgenda.direccion.$error.required">Ingresa la direccion.</p>
            </div>

        </div>

        <div class="col-md-5">

            <div class="form-group" ng-class="{'has-error' : formAgregarNuevaAgenda.epsMedico.$invalid && formAgregarNuevaAgenda.epsMedico.$dirty}">
                <label >Agendar cita en EPS: </label>
                <span ng-class="{'glyphicon glyphicon-ok' : formAgregarNuevaAgenda.epsMedico.$valid && formAgregarNuevaAgenda.epsMedico.$dirty}"></span>
                <select  ng-model="nuevaAgenda.idPersonaEps"  required name="epsMedico" class="form-control">
                    <option ng-repeat="personaEps in listEpsMedico" value="{{personaEps.idPersonaEps}}"> {{personaEps.eps.razonSocial}}</option>
                </select>
                <p class="help-block" ng-show="formAgregarNuevaAgenda.epsMedico.$error.required">Selecciona EPS</p>
            </div>

            <div class="form-group" ng-class="{'has-error' : formAgregarNuevaAgenda.localidad.$invalid && formAgregarNuevaAgenda.localidad.$dirty}">
                <label>Localidad:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : formAgregarNuevaAgenda.localidad.$valid && formAgregarNuevaAgenda.localidad.$dirty}"></span>
                <input type="text"  ng-model="nuevaAgenda.localidad" required name="localidad" class="form-control" />   
                <p class="help-block" ng-show="formAgregarNuevaAgenda.localidad.$error.required">Ingresa la localidad</p>
            </div>

            <div class="form-group" ng-class="{'has-error' : formAgregarNuevaAgenda.consultorio.$invalid && formAgregarNuevaAgenda.consultorio.$dirty}">
                <label>Consultorio:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : formAgregarNuevaAgenda.consultorio.$valid && formAgregarNuevaAgenda.consultorio.$dirty}"></span>
                <input type="text"  ng-model="nuevaAgenda.consultorio" name="consultorio" required class="form-control" />   
                <p class="help-block" ng-show="formAgregarNuevaAgenda.consultorio.$error.required">Ingresa el numrero del conultorio</p>
            </div>
        </div>


        <div class="col-md-10" align="center">
            <br><br>
            <button ng-disabled="formAgregarNuevaAgenda.$invalid" type="submit" class="btn btn-primary" >
                Agendar espacio
            </button>
        </div>
    </div>
</form>


<!--MENSAJES DE ERROR Y CONFRMACION--> 
<!--MODAL CON INFORMACION DE CITA--> 
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="z-index: inherit;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title"><i class="fa fa-calendar"></i> #{{infoConsultaCita.idCita}}</h2>
            </div>


            <div class="panel panel-default tabs">                            
                <ul class="nav nav-tabs" role="tablist">
                    <li style="width: 32%;text-align: center" class="active">
                        <a role="tab"  onClick="$('#tab222').show();$('#tab232').hide();$('#tab242').hide();" id="info_init_cita" data-toggle="tab"> Informacion de la cita </a>
                    </li>
                    <li style="width: 36%;text-align: center">
                        <a role="tab"  onClick="$('#tab232').show();$('#tab222').hide();$('#tab242').hide();" data-toggle="tab"> Informacion del paciente</a>
                    </li >
                    <li style="width: 32%; text-align: center">
                        <a role="tab" onClick="$('#tab242').show();$('#tab232').hide();$('#tab222').hide();" data-toggle="tab"> Opciones de cita</a>
                    </li>

                </ul>
                <div class="panel-body tab-content">
                    <div class="tab-pane active" style="display: none;" id="tab222">
                        <div class="panel-body panel-body-table">
                            <div class="table-responsive" align="center">
                                <table class="table table-bordered table-striped table-actions">
                                    <tbody>                                            
                                        <tr>
                                        <td >Fecha</td>
                                        <td width="210"><strong>{{infoConsultaCita.horaInicio| getFormatofecha}}</strong></td>
                                        </tr>
                                        <tr >
                                        <td >Inicia a las: </td>
                                        <td width="210"><strong>{{infoConsultaCita.horaInicio| getFormatoHora}}</strong></td>
                                        </tr>
                                        <tr>
                                        <td >Termina a las:</td>
                                        <td width="210"><strong>{{infoConsultaCita.horaFin| getFormatoHora}}</strong></td>
                                        </tr>
                                        <tr>
                                        <td>Ciudad </td>
                                        <td width="210"><strong>{{infoConsultaCita.agenda.ciudad}}</strong></td>
                                        </tr>
                                        <tr>
                                        <td width="210">Localidad </td>
                                        <td><strong>{{infoConsultaCita.agenda.localidad}}</strong></td>
                                        </tr>
                                        <tr>
                                        <td width="210">Direccion </td>
                                        <td><strong>{{infoConsultaCita.agenda.direccion}}</strong></td>
                                        </tr>
                                        <tr>
                                        <td width="210">Consultorio </td>
                                        <td><strong>{{infoConsultaCita.agenda.numeroConsultorio}}</strong></td>
                                        <tr>
                                        <td width="210">EPS: </td>
                                        <td><strong>{{infoConsultaCita.agenda.medicoEps.eps.razonSocial}}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                                

                        </div>
                    </div>
                    <div class="tab-pane active" style="display: none" id="tab232">
                        <div ng-if="infoConsultaCita.pacienteEps != null">
                            <div  class="panel-body panel-body-table">
                                <div class="table-responsive" align="center">
                                    <table class="table table-bordered table-striped table-actions">
                                        <tbody>                                            
                                            <tr>
                                            <td width="200">Tipo identificacion: </td>
                                            <td width="270"><strong>{{infoConsultaCita.pacienteEps.persona.tipoIdentificacion}}</strong></td>
                                            </tr>
                                            <tr>
                                            <td width="200">Numero identificacion: </td>
                                            <td width="270"><strong>{{infoConsultaCita.pacienteEps.persona.numeroIdentificacion}}</strong></td>
                                            </tr>
                                            <tr>
                                            <td width="200">Nombre: </td>
                                            <td width="270"><strong>{{infoConsultaCita.pacienteEps.persona.nombres + ' ' + infoConsultaCita.pacienteEps.persona.apellidos}} </strong></td>
                                            </tr>
                                            <tr>
                                            <td width="200">Genero: </td>
                                            <td width="270"><strong>{{infoConsultaCita.pacienteEps.persona.genero}} </strong></td>
                                            </tr>
                                            <tr>
                                            <td width="200">Fecha nacimiento </td>
                                            <td width="270"><strong>{{infoConsultaCita.pacienteEps.persona.fechaNacimiento| getFormatofecha}} </strong></td>
                                            </tr>
                                            <tr>
                                            <td width="200">Edad: </td>
                                            <td width="270"><strong>{{infoConsultaCita.pacienteEps.persona.fechaNacimiento| getEdad}} </strong></td>
                                            </tr>
                                            <tr>
                                            <td width="200">Email: </td>
                                            <td width="270"><strong>{{infoConsultaCita.pacienteEps.persona.correoElectronico}}</strong></td>
                                            </tr>
                                            <tr>
                                            <td width="200">Celular: </td>
                                            <td width="270"><strong>{{infoConsultaCita.pacienteEps.persona.telefonoCelular}}</strong></td>
                                            </tr>
                                            <tr>
                                            <td width="200">Telefono fijo: </td>
                                            <td width="270"><strong>{{infoConsultaCita.pacienteEps.persona.telefonoFijo}}</strong></td>
                                            </tr>
                                            <tr>
                                            <td width="200">Tipo de saggre: </td>
                                            <td width="270"><strong>{{infoConsultaCita.pacienteEps.persona.grupoSanguineo + ' ' + infoConsultaCita.pacienteEps.persona.rh}}</strong></td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>                                

                            </div>  
                        </div>
                        <div ng-if="infoConsultaCita.pacienteEps == null">
                            <div class="alert alert-warning" role="alert" style="text-align: center;">
                                <button type="button" class="close" data-dismiss="alert"><span class="sr-only" >Cerrar</span></button>
                                <strong>¡ </strong> La cita no ha sido agendada por ningun paciente  <strong> !</strong>
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane active" style="display: none" id="tab242">
                        <button  data-toggle="tooltip" data-original-title="El paciente asisitio a la cita " class="btn btn-default propiedades-opcion-cita f-verde">
                            <i class="fa fa-check-circle" style="font-size: 53px;"></i>                            
                        </button> 
                        <button data-toggle="tooltip" data-original-title="El paciente no asisitio a la cita" class="btn btn-default propiedades-opcion-cita f-rojo-min" >
                            <i class="glyphicon glyphicon-remove-sign" style="font-size: 53px;"></i>
                        </button>
                        <button data-toggle="tooltip" data-original-title="Cancelar cita " class="btn btn-default propiedades-opcion-cita f-rojo">
                            <i class="fa fa-ban" style="font-size: 53px;"></i>
                        </button>
                        <button  data-toggle="tooltip" data-original-title="Historico de la cita " class="btn btn-default propiedades-opcion-cita f-azul">
                            <i ng-click="irMenuHC(infoConsultaCita)" class="glyphicon glyphicon-th" style="font-size: 53px;"></i>
                        </button>             

                    </div>
                </div>
            </div> 
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>                        
            </div>
        </div>
    </div>
</div> 









<div class="message-box message-box-danger animated fadeIn" data-sound="fail"  id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Error</div>
            <div class="mb-content">
                <p>
                    {{objErrorNuevaAgenda.mensajeError}}<br>
                <div style="overflow-y: scroll; height: 100px;    padding-top:10px">
                    <table class="table">
                        <thead>
                            <tr>
                            <th># </th>
                            <th>Fecha: </th>
                            <th>Horario: </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="trow_1" ng-repeat="citaEror in objErrorNuevaAgenda.objError"> 
                            <td>{{citaEror.idCita}}</td>
                            <td>{{citaEror.horaInicio| getFormatofecha }}</td>
                            <td>de {{citaEror.horaInicio| getFormatoHora }} a {{citaEror.horaFin| getFormatoHora }}</td>
                            </tr>   
                        </tbody>
                    </table>
                </div>    
                </p>                    
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onClick=" $('#message-box-sound-2').hide()">Error</button>
            </div>
        </div>
    </div>
</div>
<!-- fin mensaje de error -->

<!-- mensaje de confirmacion -->
<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span> Agenda creada</div>
            <div class="mb-content">
                <p>{{generalResponse.mensaje}}, agenda creada del {{generalResponse.fechaInicialAgenda| getFormatofecha }} 
                    al {{generalResponse.fechaFinalAgenda| getFormatofecha }} los dias {{generalResponse.dias}} en el horario de {{generalResponse.fechaInicialAgenda| getFormatoHora }}
                    a {{generalResponse.fechaFinalAgenda| getFormatoHora }}
                </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" ng-click="terminarCreacionNuevaAgenda()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--PopUp informacion cita--> 
<div class="message-box animated fadeIn" data-sound="alert" id="message-box-sound-1">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-globe"></span> Cita #{{infoConsultaCita.idCita}}</div>

            <div class="mb-footer">
                <button class="btn btn-info btn-lg pull-right mb-control-close" onClick="$('#message-box-sound-1').hide()">Cerrar</button>
            </div>
        </div>
    </div>
</div>






<!-- fin mensaje de confirmacion -->

<!-- START PRELOADS -->
<!--<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>
 END PRELOADS              

 START SCRIPTS 
 START PLUGINS 
-->

<!--<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>     -->

<!--
 END PLUGINS 

 THIS PAGE PLUGINS 
-->
<!--<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-file-input.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap-select.js"></script>
<script type="text/javascript" src="js/plugins/tagsinput/jquery.tagsinput.min.js"></script>-->

<!-- END THIS PAGE PLUGINS        

 START TEMPLATE -->
<!--<script type="text/javascript" src="js/settings.js"></script>

<script type="text/javascript" src="js/plugins.js"></script>        
<script type="text/javascript" src="js/actions.js"></script>        -->
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->  