<!DOCTYPE html>
<html lang="en" ng-app="agendaMedico" id="top">
    <meta charset="utf-8"/>
<head>
    <title>Agenda medico prueba libs</title>
       
    
    <link rel="stylesheet" href="../../lib/dependencies/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../lib/dependencies/css/fullcalendar.css">
   
    <script src="../../js/plugins/jquery/jquery.min.js" type="text/javascript"></script>   
    <script src="../../lib/dependencies/angular/angular.js"></script>
    <script src="../../js/plugins/moment.min.js" type="text/javascript"></script>
    <script src="../../js/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script src="../../js/plugins/fullcalendar/gcal.js"></script>
    <script src="../../lib/dependencies/ui-bootstrap-tpls.min.js"></script>    
    <script src="../../lib/dependencies/angular-resource.min.js"></script>
        
    
     <script src="calendar.js"></script>   
    <script src="calendarDemo.js"></script>
    <!--<script src="serviceAgenda.js"></script>-->

</head>
<body data-spy="scroll">
<header class="navbar navbar-fixed-top">
  
</header>
    <div class="" style="text-align: center"s>
        
        <h3>Agenda Medico Prueba.</h3> 
        
    </div>
<div role="main">
    <div class="container">
        <section id="directives-calendar" ng-controller="CalendarCtrl">
             <div class="well">
                <div class="row-fluid">
                    <div class="span4">
                                               
                        <div class="btn-group calTools">
                          <button type="button" class="btn btn-primary" ng-click="addEvent()">
                           Añadir nuevo bloque de citas. 
                          </button>
                        </div>

                        <ul class="unstyled">
                            <li ng-repeat="e in events">
                                <div class="alert alert-info">
                                    <a class="close" ng-click="remove($index)"><i class="icon-remove">x</i></a>
                                    <b> <input ng-model="e.title"></b> 
                                    {{e.start | date:"MMM dd yyyy"}} - {{e.end | date:"MMM dd yyyy"}}
                                </div>
                            </li>
                        </ul>
<!--                        <ul class="unstyled">
                            <select ng-model="listEpsMedico">
                                <option ng-repeat="x in listEpsMedico" value="{{x.eps.razonSocial}}"> {{x.eps.razonSocial}}</option>

                                
                            </select>
                            
                        </ul>
                        -->

                    </div>

                    <div class="span8">
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar3')">Ver agenda del día</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar3')">Ver agenda de la semana</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar3')">Ver agenda del mes.</button>
                                </div>
                              
                            <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                         
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
    </body>
</html>
