<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--OTRA FORMA: mensaje correcto cita seleccionada del paciente-->
<!--    <div class="alert alert-success" role="alert" ng-if="informacionCita != null" >
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <p ng-if="esconderMensajeCitaSeleccionada">
            <strong>MUY BIEN</strong> Has seleccionado una cita correctamente .
        </p>    
    </div>-->
<!--OTRA FORMA: mensaje correcto cita seleccionada del paciente-->

<!--mensajes de operaciones de la cita-->
<div class="alert alert-success" role="alert" ng-if="informacionCita != null" >
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <strong>{{mensajesCita.msn_citaSeleccionada1}}</strong> {{mensajesCita.msn_citaSeleccionada2}} .
</div>
<!--FIN mensajes de operaciones de la cita-->


<!--MENSAJES DE ERROR Y CONFRMACION--> 
<!-- Mensaje de error -->
<div class="message-box message-box-danger animated fadeIn" data-sound="fail"  id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Error</div>
            <div class="mb-content">
                <p>
                <span class="mb-title">{{objErrorCancelarCita.mensajeError}}</span>   
                </p>                    
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onClick=" $('#message-box-sound-2').hide()">Error</button>
            </div>
        </div>
    </div>
</div>
<!-- fin mensaje de error -->
<!-- mensaje de confirmacion -->
<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span> Cita {{generalResponse.estador}}</div>
            <div class="mb-content">
                <p>
                    ... <span class="mb-title">{{generalResponse.mensajer}}</span>
                </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close"  ng-click="cerrarCancelarCita()">Cerrar</button>  
<!--                                                                onClick="$(location.reload())"                                          -->
            </div>
        </div>
    </div>
</div>
<!-- fin mensaje de confirmacion -->



<!-- popups-->
<!-- default with sound -->   
<div class="message-box animated fadeIn" data-sound="fail" id="message-box-sound-1">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-globe"></span> Informacion cita</div>
            <div class="mb-content">
                <!--Informacion completa de cita del paciente-->
                <div class="col-md-12" ng-if="informacionCita != null">

                    <div class="panel panel-warning push-up-20">
                        <div class="panel-body panel-body-pricing"  >
                            <h2>#-CITA:  {{informacionCita.idCita}}<br/><small><STRONG>EPS: </STRONG> {{informacionCita.pacienteEps.eps.razonSocial}}</small></h2>    
                            
                            <p><span class="fa fa-caret-right"></span> <STRONG>FECHA Y HORA:</STRONG> {{informacionCita.horaInicio| getFormatofecha}}  -  {{informacionCita.horaInicio| getFormatoHora}}</p>
                            <p><span class="fa fa-caret-right"></span> <STRONG>CIUDAD:</STRONG> {{informacionCita.agenda.ciudad}}</p>
                            <p><span class="fa fa-caret-right"></span> <STRONG>LOCALIDAD:</STRONG> {{informacionCita.agenda.localidad}}</p>
                            <p><span class="fa fa-caret-right"></span> <STRONG>DIRECCION:</STRONG> {{informacionCita.agenda.direccion}}</p>

                            <p><span class="fa fa-caret-right"></span> <STRONG>DOCTOR:</STRONG> {{informacionCita.agenda.medicoEps.persona.nombres}}</p>
                            <p><span class="fa fa-caret-right"></span> <STRONG>#CONSULTORIO:</STRONG> {{informacionCita.agenda.numeroConsultorio}}</p><br/>
                            <p class="text-warning"><span class="fa fa-caret-right"></span> <STRONG>RECOMENDACIONES:</STRONG> {{informacionCita.observaciones}}</p>

                            <br/>
                            <p><span class="fa fa-caret-right"></span> ...</p>

                            <p class="text-info"><small><strong>SISC</strong></small></p>
                        </div>
                        <div class="panel-footer"> 
                            <button class="btn btn-warning btn-block">{{informacionCita.pacienteEps.persona.nombres}}</button>
                        </div>
                    </div>
                </div>
                <!--Fin Informacion completa de cita del paciente-->                  
            </div>
            <div class="mb-footer">
                <button class="btn btn-info btn-lg pull-right mb-control-close" onClick="$('#message-box-sound-1').hide();">CERRAR!</button>
            </div>
        </div>
    </div>
</div>    
<!-- end default with sound -->
<!-- END Message Boxes -->        
<!--///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////-->


<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Cancelar <strong>Cita</strong> ?</div>
            <div class="mb-content">
                <p>¿Esta seguro de cancelar su cita?</p>                    
                <p>presiona NO para cancelar. SI para cancelar esta cita</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a class="btn btn-success btn-lg" ng-click="cancelarCita()">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close" ng-click="confirmacionNOCancelarCita()">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->


<!--ejemplo-->
<!--<a href="http://localhost:8080/sisc_web/table-export.html#">ejemplo</a>  <br><br>   -->



<!--tabla-basic.html-->
<!-- START RESPONSIVE TABLES -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title"><strong>Listado de citas pendientes para paciente</strong></h3>
                
                <!--dataTableExport.html-->
                <div class="btn-group pull-right">
                    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onClick ="$('#customers2').tableExport({type: 'excel', escape: 'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type: 'pdf', escape: 'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
                    </ul>
                </div>
                <!--FIN dataTableExport.html-->
                
            </div>

            <div class="panel-body panel-body-table">

                <div class="table-responsive">
                    
                <!--probando codigo-->
                 <br />
                <label>Filtrar por idCita : <input type="text" placeholder="Buscador ID CITA" ng-model="searchText"/></label>
                <br /><br />
                <!--FIN probando codigo-->
                    
                    <table id="customers2" class="table table-bordered table-striped table-actions">
                        <thead>
                            
                            <tr>
                                <th class="text-center">IdCita</th>
                                <th>Nombre Eps</th>
                                <th>Direccion</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th class="danger">Acciones</th>
                            </tr>                                
                            <!-- 
                            simatoria de los <th> = 450
                            <tr>
                            <th width="50">id</th>
                            <th>name</th>
                            <th width="100">status</th>
                            <th width="100">amount</th>
                            <th width="100">date</th>
                            <th width="100">actions</th>
                            </tr>-->
                        </thead>
                        <tbody>  
                            <!--<tr ng-repeat="cita in listaCitasPaciente | filter:searchText ">--> 
                            <tr ng-repeat="cita in listaCitasPaciente | filter:{idCita:searchText}"> 
                            <td class="text-center" ng-click="mostrarUnaCitaDetallada(cita)">{{cita.idCita}}</td>
                            <td class="text-center" ng-click="mostrarUnaCitaDetallada(cita)"><strong>{{cita.agenda.medicoEps.eps.razonSocial}}</strong></td>
                            <td class="text-center" ng-click="mostrarUnaCitaDetallada(cita)"><strong>{{cita.agenda.direccion}}</strong></td>
                            <td class="text-center" ng-click="mostrarUnaCitaDetallada(cita)">{{cita.horaInicio| getFormatofecha}} {{cita.horaInicio| getFormatoHora}}</td>
                            <td class="text-center" ng-click="mostrarUnaCitaDetallada(cita)"><span class="label label-warning">{{cita.estadoCita}}</span></td>
                            <td class="text-center">
                            <button class="btn btn-danger btn-rounded btn-sm" ng-click="confirmacionCancelarCita($index, cita)"> CANCELAR <span class="fa fa-times"></span></button>                        
                            </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>                                

            </div>
        </div>                                                

    </div>
</div>
<!-- END RESPONSIVE TABLES -->

<!--********************************************************************************
********************************************************************************
********************************************************************************
********************************************************************************-->



<!--********************************************************************************
********************************************************************************
********************************************************************************
********************************************************************************-->

<!--

<div class="page-content" style="height: 5555px;">
     PAGE CONTENT WRAPPER 
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                 START DATATABLE EXPORT 
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <h3 class="panel-title">DataTable Export</h3>
                        <div class="btn-group pull-right">
                            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'json', escape: 'false'});"><img src="img/icons/json.png" width="24"> JSON</a></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'json', escape: 'false', ignoreColumn: '[2,3]'});"><img src="img/icons/json.png" width="24"> JSON (ignoreColumn)</a></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'json', escape: 'true'});"><img src="img/icons/json.png" width="24"> JSON (with Escape)</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'xml', escape: 'false'});"><img src="img/icons/xml.png" width="24"> XML</a></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'sql'});"><img src="img/icons/sql.png" width="24"> SQL</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'csv', escape: 'false'});"><img src="img/icons/csv.png" width="24"> CSV</a></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'txt', escape: 'false'});"><img src="img/icons/txt.png" width="24"> TXT</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'excel', escape: 'false'});"><img src="img/icons/xls.png" width="24"> XLS</a></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'doc', escape: 'false'});"><img src="img/icons/word.png" width="24"> Word</a></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'powerpoint', escape: 'false'});"><img src="img/icons/ppt.png" width="24"> PowerPoint</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'png', escape: 'false'});"><img src="img/icons/png.png" width="24"> PNG</a></li>
                                <li><a href="#" onclick="$('#customers2').tableExport({type: 'pdf', escape: 'false'});"><img src="img/icons/pdf.png" width="24"> PDF</a></li>
                            </ul>
                        </div>                                    

                    </div>
                    <div class="panel-body">
                        <div id="customers2_wrapper" class="dataTables_wrapper no-footer">
                            <div class="dataTables_length" id="customers2_length">
                                <label>Show <select name="customers2_length" aria-controls="customers2" class="form-control"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                            </div>
                            <div id="customers2_filter" class="dataTables_filter">
                                <label>Search:<input type="search" class="form-control " placeholder="" aria-controls="customers2"></label>
                            </div>
                            <table id="customers2" class="table datatable dataTable no-footer" role="grid" aria-describedby="customers2_info">
                                <thead>
                                    
                                    <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="customers2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column ascending" style="width: 206px;">Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="customers2" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 319px;">Position</th>
                                    <th class="sorting" tabindex="0" aria-controls="customers2" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 160px;">Office</th>
                                    <th class="sorting" tabindex="0" aria-controls="customers2" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 76px;">Age</th>
                                    <th class="sorting" tabindex="0" aria-controls="customers2" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 138px;">Start date</th>
                                    <th class="sorting" tabindex="0" aria-controls="customers2" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 131px;">Salary</th>
                                    </tr>
                                    
                                </thead>
                                <tbody>

                                    <tr role="row" class="odd">
                                    <td class="sorting_1">Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>$162,700</td>
                                    </tr>
                                    <tr role="row" class="even">
                                    <td class="sorting_1">Angelica Ramos</td>
                                    <td>Chief Executive Officer (CEO)</td>
                                    <td>London</td>
                                    <td>47</td>
                                    <td>2009/10/09</td>
                                    <td>$1,200,000</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                    <td class="sorting_1">Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                    </tr>












                                            <tr>
                                                <td>Tiger Nixon</td>
                                                <td>System Architect</td>
                                                <td>Edinburgh</td>
                                                <td>61</td>
                                                <td>2011/04/25</td>
                                                <td>$320,800</td>
                                            </tr>
                                            <tr>
                                                <td>Garrett Winters</td>
                                                <td>Accountant</td>
                                                <td>Tokyo</td>
                                                <td>63</td>
                                                <td>2011/07/25</td>
                                                <td>$170,750</td>
                                            </tr>
                                            <tr>
                                                <td>Ashton Cox</td>
                                                <td>Junior Technical Author</td>
                                                <td>San Francisco</td>
                                                <td>66</td>
                                                <td>2009/01/12</td>
                                                <td>$86,000</td>
                                            </tr>
                                            <tr>
                                                <td>Cedric Kelly</td>
                                                <td>Senior Javascript Developer</td>
                                                <td>Edinburgh</td>
                                                <td>22</td>
                                                <td>2012/03/29</td>
                                                <td>$433,060</td>
                                            </tr>
                                            <tr>
                                                <td>Airi Satou</td>
                                                <td>Accountant</td>
                                                <td>Tokyo</td>
                                                <td>33</td>
                                                <td>2008/11/28</td>
                                                <td>$162,700</td>
                                            </tr>
                                            <tr>
                                                <td>Brielle Williamson</td>
                                                <td>Integration Specialist</td>
                                                <td>New York</td>
                                                <td>61</td>
                                                <td>2012/12/02</td>
                                                <td>$372,000</td>
                                            </tr>
                                            <tr>
                                                <td>Herrod Chandler</td>
                                                <td>Sales Assistant</td>
                                                <td>San Francisco</td>
                                                <td>59</td>
                                                <td>2012/08/06</td>
                                                <td>$137,500</td>
                                            </tr>
                                            <tr>
                                                <td>Rhona Davidson</td>
                                                <td>Integration Specialist</td>
                                                <td>Tokyo</td>
                                                <td>55</td>
                                                <td>2010/10/14</td>
                                                <td>$327,900</td>
                                            </tr>
                                            <tr>
                                                <td>Colleen Hurst</td>
                                                <td>Javascript Developer</td>
                                                <td>San Francisco</td>
                                                <td>39</td>
                                                <td>2009/09/15</td>
                                                <td>$205,500</td>
                                            </tr>
                                            <tr>
                                                <td>Sonya Frost</td>
                                                <td>Software Engineer</td>
                                                <td>Edinburgh</td>
                                                <td>23</td>
                                                <td>2008/12/13</td>
                                                <td>$103,600</td>
                                            </tr>
                                            <tr>
                                                <td>Jena Gaines</td>
                                                <td>Office Manager</td>
                                                <td>London</td>
                                                <td>30</td>
                                                <td>2008/12/19</td>
                                                <td>$90,560</td>
                                            </tr>
                                            <tr>
                                                <td>Quinn Flynn</td>
                                                <td>Support Lead</td>
                                                <td>Edinburgh</td>
                                                <td>22</td>
                                                <td>2013/03/03</td>
                                                <td>$342,000</td>
                                            </tr>
                                            <tr>
                                                <td>Charde Marshall</td>
                                                <td>Regional Director</td>
                                                <td>San Francisco</td>
                                                <td>36</td>
                                                <td>2008/10/16</td>
                                                <td>$470,600</td>
                                            </tr>
                                            <tr>
                                                <td>Haley Kennedy</td>
                                                <td>Senior Marketing Designer</td>
                                                <td>London</td>
                                                <td>43</td>
                                                <td>2012/12/18</td>
                                                <td>$313,500</td>
                                            </tr>
                                            <tr>
                                                <td>Tatyana Fitzpatrick</td>
                                                <td>Regional Director</td>
                                                <td>London</td>
                                                <td>19</td>
                                                <td>2010/03/17</td>
                                                <td>$385,750</td>
                                            </tr>
                                            <tr>
                                                <td>Michael Silva</td>
                                                <td>Marketing Designer</td>
                                                <td>London</td>
                                                <td>66</td>
                                                <td>2012/11/27</td>
                                                <td>$198,500</td>
                                            </tr>
                                            <tr>
                                                <td>Paul Byrd</td>
                                                <td>Chief Financial Officer (CFO)</td>
                                                <td>New York</td>
                                                <td>64</td>
                                                <td>2010/06/09</td>
                                                <td>$725,000</td>
                                            </tr>
                                            <tr>
                                                <td>Gloria Little</td>
                                                <td>Systems Administrator</td>
                                                <td>New York</td>
                                                <td>59</td>
                                                <td>2009/04/10</td>
                                                <td>$237,500</td>
                                            </tr>
                                            <tr>
                                                <td>Bradley Greer</td>
                                                <td>Software Engineer</td>
                                                <td>London</td>
                                                <td>41</td>
                                                <td>2012/10/13</td>
                                                <td>$132,000</td>
                                            </tr>
                                            <tr>
                                                <td>Dai Rios</td>
                                                <td>Personnel Lead</td>
                                                <td>Edinburgh</td>
                                                <td>35</td>
                                                <td>2012/09/26</td>
                                                <td>$217,500</td>
                                            </tr>
                                            <tr>
                                                <td>Jenette Caldwell</td>
                                                <td>Development Lead</td>
                                                <td>New York</td>
                                                <td>30</td>
                                                <td>2011/09/03</td>
                                                <td>$345,000</td>
                                            </tr>
                                            <tr>
                                                <td>Yuri Berry</td>
                                                <td>Chief Marketing Officer (CMO)</td>
                                                <td>New York</td>
                                                <td>40</td>
                                                <td>2009/06/25</td>
                                                <td>$675,000</td>
                                            </tr>
                                            <tr>
                                                <td>Caesar Vance</td>
                                                <td>Pre-Sales Support</td>
                                                <td>New York</td>
                                                <td>21</td>
                                                <td>2011/12/12</td>
                                                <td>$106,450</td>
                                            </tr>
                                            <tr>
                                                <td>Doris Wilder</td>
                                                <td>Sales Assistant</td>
                                                <td>Sidney</td>
                                                <td>23</td>
                                                <td>2010/09/20</td>
                                                <td>$85,600</td>
                                            </tr>
                                            <tr>
                                                <td>Angelica Ramos</td>
                                                <td>Chief Executive Officer (CEO)</td>
                                                <td>London</td>
                                                <td>47</td>
                                                <td>2009/10/09</td>
                                                <td>$1,200,000</td>
                                            </tr>
                                            <tr>
                                                <td>Gavin Joyce</td>
                                                <td>Developer</td>
                                                <td>Edinburgh</td>
                                                <td>42</td>
                                                <td>2010/12/22</td>
                                                <td>$92,575</td>
                                            </tr>
                                            <tr>
                                                <td>Jennifer Chang</td>
                                                <td>Regional Director</td>
                                                <td>Singapore</td>
                                                <td>28</td>
                                                <td>2010/11/14</td>
                                                <td>$357,650</td>
                                            </tr>
                                            <tr>
                                                <td>Brenden Wagner</td>
                                                <td>Software Engineer</td>
                                                <td>San Francisco</td>
                                                <td>28</td>
                                                <td>2011/06/07</td>
                                                <td>$206,850</td>
                                            </tr>
                                            <tr>
                                                <td>Fiona Green</td>
                                                <td>Chief Operating Officer (COO)</td>
                                                <td>San Francisco</td>
                                                <td>48</td>
                                                <td>2010/03/11</td>
                                                <td>$850,000</td>
                                            </tr>
                                            <tr>
                                                <td>Shou Itou</td>
                                                <td>Regional Marketing</td>
                                                <td>Tokyo</td>
                                                <td>20</td>
                                                <td>2011/08/14</td>
                                                <td>$163,000</td>
                                            </tr>
                                            <tr>
                                                <td>Michelle House</td>
                                                <td>Integration Specialist</td>
                                                <td>Sidney</td>
                                                <td>37</td>
                                                <td>2011/06/02</td>
                                                <td>$95,400</td>
                                            </tr>
                                            <tr>
                                                <td>Suki Burks</td>
                                                <td>Developer</td>
                                                <td>London</td>
                                                <td>53</td>
                                                <td>2009/10/22</td>
                                                <td>$114,500</td>
                                            </tr>
                                            <tr>
                                                <td>Prescott Bartlett</td>
                                                <td>Technical Author</td>
                                                <td>London</td>
                                                <td>27</td>
                                                <td>2011/05/07</td>
                                                <td>$145,000</td>
                                            </tr>
                                            <tr>
                                                <td>Gavin Cortez</td>
                                                <td>Team Leader</td>
                                                <td>San Francisco</td>
                                                <td>22</td>
                                                <td>2008/10/26</td>
                                                <td>$235,500</td>
                                            </tr>
                                            <tr>
                                                <td>Martena Mccray</td>
                                                <td>Post-Sales support</td>
                                                <td>Edinburgh</td>
                                                <td>46</td>
                                                <td>2011/03/09</td>
                                                <td>$324,050</td>
                                            </tr>
                                            <tr>
                                                <td>Unity Butler</td>
                                                <td>Marketing Designer</td>
                                                <td>San Francisco</td>
                                                <td>47</td>
                                                <td>2009/12/09</td>
                                                <td>$85,675</td>
                                            </tr>
                                            <tr>
                                                <td>Howard Hatfield</td>
                                                <td>Office Manager</td>
                                                <td>San Francisco</td>
                                                <td>51</td>
                                                <td>2008/12/16</td>
                                                <td>$164,500</td>
                                            </tr>
                                            <tr>
                                                <td>Hope Fuentes</td>
                                                <td>Secretary</td>
                                                <td>San Francisco</td>
                                                <td>41</td>
                                                <td>2010/02/12</td>
                                                <td>$109,850</td>
                                            </tr>
                                            <tr>
                                                <td>Vivian Harrell</td>
                                                <td>Financial Controller</td>
                                                <td>San Francisco</td>
                                                <td>62</td>
                                                <td>2009/02/14</td>
                                                <td>$452,500</td>
                                            </tr>
                                            <tr>
                                                <td>Timothy Mooney</td>
                                                <td>Office Manager</td>
                                                <td>London</td>
                                                <td>37</td>
                                                <td>2008/12/11</td>
                                                <td>$136,200</td>
                                            </tr>
                                            <tr>
                                                <td>Jackson Bradshaw</td>
                                                <td>Director</td>
                                                <td>New York</td>
                                                <td>65</td>
                                                <td>2008/09/26</td>
                                                <td>$645,750</td>
                                            </tr>
                                            <tr>
                                                <td>Olivia Liang</td>
                                                <td>Support Engineer</td>
                                                <td>Singapore</td>
                                                <td>64</td>
                                                <td>2011/02/03</td>
                                                <td>$234,500</td>
                                            </tr>
                                            <tr>
                                                <td>Bruno Nash</td>
                                                <td>Software Engineer</td>
                                                <td>London</td>
                                                <td>38</td>
                                                <td>2011/05/03</td>
                                                <td>$163,500</td>
                                            </tr>
                                            <tr>
                                                <td>Sakura Yamamoto</td>
                                                <td>Support Engineer</td>
                                                <td>Tokyo</td>
                                                <td>37</td>
                                                <td>2009/08/19</td>
                                                <td>$139,575</td>
                                            </tr>
                                            <tr>
                                                <td>Thor Walton</td>
                                                <td>Developer</td>
                                                <td>New York</td>
                                                <td>61</td>
                                                <td>2013/08/11</td>
                                                <td>$98,540</td>
                                            </tr>
                                            <tr>
                                                <td>Finn Camacho</td>
                                                <td>Support Engineer</td>
                                                <td>San Francisco</td>
                                                <td>47</td>
                                                <td>2009/07/07</td>
                                                <td>$87,500</td>
                                            </tr>
                                            <tr>
                                                <td>Serge Baldwin</td>
                                                <td>Data Coordinator</td>
                                                <td>Singapore</td>
                                                <td>64</td>
                                                <td>2012/04/09</td>
                                                <td>$138,575</td>
                                            </tr>
                                            <tr>
                                                <td>Zenaida Frank</td>
                                                <td>Software Engineer</td>
                                                <td>New York</td>
                                                <td>63</td>
                                                <td>2010/01/04</td>
                                                <td>$125,250</td>
                                            </tr>
                                            <tr>
                                                <td>Zorita Serrano</td>
                                                <td>Software Engineer</td>
                                                <td>San Francisco</td>
                                                <td>56</td>
                                                <td>2012/06/01</td>
                                                <td>$115,000</td>
                                            </tr>
                                            <tr>
                                                <td>Jennifer Acosta</td>
                                                <td>Junior Javascript Developer</td>
                                                <td>Edinburgh</td>
                                                <td>43</td>
                                                <td>2013/02/01</td>
                                                <td>$75,650</td>
                                            </tr>
                                            <tr>
                                                <td>Cara Stevens</td>
                                                <td>Sales Assistant</td>
                                                <td>New York</td>
                                                <td>46</td>
                                                <td>2011/12/06</td>
                                                <td>$145,600</td>
                                            </tr>
                                            <tr>
                                                <td>Hermione Butler</td>
                                                <td>Regional Director</td>
                                                <td>London</td>
                                                <td>47</td>
                                                <td>2011/03/21</td>
                                                <td>$356,250</td>
                                            </tr>
                                            <tr>
                                                <td>Lael Greer</td>
                                                <td>Systems Administrator</td>
                                                <td>London</td>
                                                <td>21</td>
                                                <td>2009/02/27</td>
                                                <td>$103,500</td>
                                            </tr>
                                            <tr>
                                                <td>Jonas Alexander</td>
                                                <td>Developer</td>
                                                <td>San Francisco</td>
                                                <td>30</td>
                                                <td>2010/07/14</td>
                                                <td>$86,500</td>
                                            </tr>
                                            <tr>
                                                <td>Shad Decker</td>
                                                <td>Regional Director</td>
                                                <td>Edinburgh</td>
                                                <td>51</td>
                                                <td>2008/11/13</td>
                                                <td>$183,000</td>
                                            </tr>
                                            <tr>
                                                <td>Michael Bruce</td>
                                                <td>Javascript Developer</td>
                                                <td>Singapore</td>
                                                <td>29</td>
                                                <td>2011/06/27</td>
                                                <td>$183,000</td>
                                            </tr>
                                            <tr>
                                                <td>Donna Snider</td>
                                                <td>Customer Support</td>
                                                <td>New York</td>
                                                <td>27</td>
                                                <td>2011/01/25</td>
                                                <td>$112,000</td>
                                            </tr>
                                    
                                </tbody>
                            </table>
                            <div class="dataTables_info" id="customers2_info" role="status" aria-live="polite">
                                Showing 1 to 10 of 57 entries
                            </div>
                            <div class="dataTables_paginate paging_simple_numbers" id="customers2_paginate">
                                <a class="paginate_button previous disabled" aria-controls="customers2" data-dt-idx="0" tabindex="0" id="customers2_previous">Previous</a>
                                <span><a class="paginate_button current" aria-controls="customers2" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button " aria-controls="customers2" data-dt-idx="2" tabindex="0">2</a><a class="paginate_button " aria-controls="customers2" data-dt-idx="3" tabindex="0">3</a><a class="paginate_button " aria-controls="customers2" data-dt-idx="4" tabindex="0">4</a><a class="paginate_button " aria-controls="customers2" data-dt-idx="5" tabindex="0">5</a><a class="paginate_button " aria-controls="customers2" data-dt-idx="6" tabindex="0">6</a></span>
                                <a class="paginate_button next" aria-controls="customers2" data-dt-idx="7" tabindex="0" id="customers2_next">Next</a></div>
                        </div>                                    

                    </div>
                </div>
                 END DATATABLE EXPORT                             
            </div>
        </div>
        FIND CLASS="row"
    </div>         
     END PAGE CONTENT WRAPPER 
</div>
-->

<!--********************************************************************************
********************************************************************************
********************************************************************************
********************************************************************************-->


<!-- START PRELOADS -->
<!--<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>-->
<!-- END PRELOADS -->                      

<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<!--<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>        -->
<!-- END PLUGINS -->

<!-- START THIS PAGE PLUGINS-->        
<!--<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<!-- END THIS PAGE PLUGINS-->  

<!-- START TEMPLATE -->
<!--<script type="text/javascript" src="js/settings.js"></script>-->

<!--<script type="text/javascript" src="js/plugins.js"></script>-->        
<!--<script type="text/javascript" src="js/actions.js"></script>-->        
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->  
