<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--OTRA FORMA: mensaje correcto cita seleccionada del paciente-->
<!--    <div class="alert alert-success" role="alert" ng-if="informacionCita != null" >
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <p ng-if="esconderMensajeCitaSeleccionada">
            <strong>MUY BIEN</strong> Has seleccionado una cita correctamente .
        </p>    
    </div>-->
<!--OTRA FORMA: mensaje correcto cita seleccionada del paciente-->

<!--mensajes de operaciones de la cita-->
<div class="alert alert-success" role="alert" ng-if="informacionCita != null" >
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <strong>{{mensajesCita.msn_citaSeleccionada1}}</strong> {{mensajesCita.msn_citaSeleccionada2}} .
</div>
<!--FIN mensajes de operaciones de la cita-->


<!--MENSAJES DE ERROR Y CONFRMACION--> 
<!-- Mensaje de error -->
<div class="message-box message-box-danger animated fadeIn" data-sound="fail"  id="message-box-sound-2">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Error</div>
            <div class="mb-content">
                <p>
                <span class="mb-title">{{objErrorCancelarCita.mensajeError}}</span>   
                </p>                    
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onClick=" $('#message-box-sound-2').hide()">Error</button>
            </div>
        </div>
    </div>
</div>
<!-- fin mensaje de error -->
<!-- mensaje de confirmacion -->
<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span> Cita {{generalResponse.estador}}</div>
            <div class="mb-content">
                <p>
                    ... <span class="mb-title">{{generalResponse.mensajer}}</span>
                </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close"  ng-click="cerrarCancelarCita()">Cerrar</button>  
<!--                                                                onClick="$(location.reload())"                                          -->
            </div>
        </div>
    </div>
</div>
<!-- fin mensaje de confirmacion -->



<!-- popups-->
<!-- default with sound -->   
<div class="message-box animated fadeIn" data-sound="fail" id="message-box-sound-1">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-globe"></span> Informacion cita</div>
            <div class="mb-content">
                <!--Informacion completa de cita del paciente-->
                <div class="col-md-12" ng-if="informacionCita != null">

                    <div class="panel panel-warning push-up-20">
                        <div class="panel-body panel-body-pricing"  >
                            <h2>#-CITA:  {{informacionCita.idCita}}<br/><small><STRONG>EPS: </STRONG> {{informacionCita.pacienteEps.eps.razonSocial}}</small></h2>    
                            
                            <p><span class="fa fa-caret-right"></span> <STRONG>FECHA Y HORA:</STRONG> {{informacionCita.horaInicio| getFormatofecha}}  -  {{informacionCita.horaInicio| getFormatoHora}}</p>
                            <p><span class="fa fa-caret-right"></span> <STRONG>CIUDAD:</STRONG> {{informacionCita.agenda.ciudad}}</p>
                            <p><span class="fa fa-caret-right"></span> <STRONG>LOCALIDAD:</STRONG> {{informacionCita.agenda.localidad}}</p>
                            <p><span class="fa fa-caret-right"></span> <STRONG>DIRECCION:</STRONG> {{informacionCita.agenda.direccion}}</p>

                            <p><span class="fa fa-caret-right"></span> <STRONG>DOCTOR:</STRONG> {{informacionCita.agenda.medicoEps.persona.nombres}}</p>
                            <p><span class="fa fa-caret-right"></span> <STRONG>#CONSULTORIO:</STRONG> {{informacionCita.agenda.numeroConsultorio}}</p><br/>
                            <p class="text-warning"><span class="fa fa-caret-right"></span> <STRONG>RECOMENDACIONES:</STRONG> {{informacionCita.observaciones}}</p>

                            <br/>
                            <p><span class="fa fa-caret-right"></span> ...</p>

                            <p class="text-info"><small><strong>SISC</strong></small></p>
                        </div>
                        <div class="panel-footer"> 
                            <button class="btn btn-warning btn-block">{{informacionCita.pacienteEps.persona.nombres}}</button>
                        </div>
                    </div>
                </div>
                <!--Fin Informacion completa de cita del paciente-->                  
            </div>
            <div class="mb-footer">
                <button class="btn btn-info btn-lg pull-right mb-control-close" onClick="$('#message-box-sound-1').hide();">CERRAR!</button>
            </div>
        </div>
    </div>
</div>    
<!-- end default with sound -->
<!-- END Message Boxes -->        
<!--///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////-->


<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Cancelar <strong>Cita</strong> ?</div>
            <div class="mb-content">
                <p>¿Esta seguro de cancelar su cita?</p>                    
                <p>presiona NO para cancelar. SI para cancelar esta cita</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a class="btn btn-success btn-lg" ng-click="cancelarCita()">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close" ng-click="confirmacionNOCancelarCita()">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->


<!--ejemplo-->
<!--<a href="http://localhost:8080/sisc_web/table-export.html#">ejemplo</a>  <br><br>   -->



<!--tabla-basic.html-->
<!-- START RESPONSIVE TABLES -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title"><strong>Listado de citas pendientes para paciente</strong></h3>
                
                <!--dataTableExport.html-->
                <div class="btn-group pull-right">
                    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Data</button>
                    <ul class="dropdown-menu">
                        <li><a href="#" onClick ="$('#customers2').tableExport({type: 'excel', escape: 'false'});"><img src='img/icons/xls.png' width="24"/> XLS</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onClick ="$('#customers2').tableExport({type: 'pdf', escape: 'false'});"><img src='img/icons/pdf.png' width="24"/> PDF</a></li>
                    </ul>
                </div>
                <!--FIN dataTableExport.html-->
                
            </div>

            <div class="panel-body panel-body-table">

                <div class="table-responsive">
                    
                <!--probando codigo-->
                 <br />
                <p style="color: #369;font-weight: bold;font-size: 2em;"><label>Filtrar por idCita :  <input type="text" placeholder="# IdCita" ng-model="searchText"/></label></p>
                <br /><br />
                <!--FIN probando codigo-->
                    
                    <table id="customers2" class="table table-bordered table-striped table-actions">
                        <thead>
                            
                            <tr>
                                <th class="text-center success">IdCita</th>
                                <th>Nombre Eps</th>
                                <th>Direccion</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th class="danger">Acciones</th>
                            </tr>                                
                            <!-- 
                            simatoria de los <th> = 450
                            <tr>
                            <th width="50">id</th>
                            <th>name</th>
                            <th width="100">status</th>
                            <th width="100">amount</th>
                            <th width="100">date</th>
                            <th width="100">actions</th>
                            </tr>-->
                        </thead>
                        <tbody>  
                            <!--<tr ng-repeat="cita in listaCitasPaciente | filter:searchText ">--> 
                            <tr ng-repeat="cita in listaCitasPaciente | filter:{idCita:searchText}"> 
                            <td class="text-center success" ng-click="mostrarUnaCitaDetallada(cita)">{{cita.idCita}}</td>
                            <td class="text-center" ng-click="mostrarUnaCitaDetallada(cita)"><strong>{{cita.agenda.medicoEps.eps.razonSocial}}</strong></td>
                            <td class="text-center" ng-click="mostrarUnaCitaDetallada(cita)"><strong>{{cita.agenda.direccion}}</strong></td>
                            <td class="text-center" ng-click="mostrarUnaCitaDetallada(cita)">{{cita.horaInicio| getFormatofecha}} {{cita.horaInicio| getFormatoHora}}</td>
                            <td class="text-center" ng-click="mostrarUnaCitaDetallada(cita)"><span class="label label-warning">{{cita.estadoCita}}</span></td>
                            <td class="text-center">
                            <button class="btn btn-danger btn-rounded btn-sm" ng-click="confirmacionCancelarCita($index, cita)"> CANCELAR <span class="fa fa-times"></span></button>                        
                            </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>                                

            </div>
        </div>                                                

    </div>
</div>
<!-- END RESPONSIVE TABLES -->

<!--********************************************************************************
********************************************************************************
********************************************************************************
********************************************************************************-->


<!--********************************************************************************
********************************************************************************
********************************************************************************
********************************************************************************-->


<!-- START PRELOADS -->
<!--<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>-->
<!-- END PRELOADS -->                      

<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<!--<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>        -->
<!-- END PLUGINS -->

<!-- START THIS PAGE PLUGINS-->        
<!--<script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

<!-- END THIS PAGE PLUGINS-->  

<!-- START TEMPLATE -->
<!--<script type="text/javascript" src="js/settings.js"></script>-->

<!--<script type="text/javascript" src="js/plugins.js"></script>-->        
<!--<script type="text/javascript" src="js/actions.js"></script>-->        
<!-- END TEMPLATE -->
<!-- END SCRIPTS -->  
