

<script>
    $("#mySel").select2({
    });
    $('#datepicker').datepicker({
        autoclose: true,
        dateFormat: 'dd-mm-yyyy',
    }).on("changeDate", function (e) {
        console.log(e.date);
    });

</script>
<style>
    @-webkit-keyframes movimiento-diagonal {
        from {
            left: 600px;
        }

        to {
            left: 690px;
        }
    }   

    #anim {
        -webkit-animation-name: movimiento-diagonal;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;/*para que vuelva a su posicion inicial */
        width: 350px;
        /*background-color: yellow;*/
        color: #FFFFFF;
        position: relative; 
        padding: 2px;


        font-weight: bold;
        font-size: 18px;
    }    

    #contenedor-panel-footer{
        background-color: #000000;
    }
</style>

<div class="page-title">                    
    <h2><span class="fa fa-bookmark"></span>Programar cita medica.</h2>
</div>   

<div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Selecciona la especialidad y filtra por fecha .</p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-8">
                            <div>
                                <label>Especialidad</label>                   
                                <select id="mySel" class="form-control" ng-change="buscarEspecialidades()" ng-model="especialidadSelected">
                                    <option ng-repeat="item in listaespecialidadesEPS"  ng-model="item.descripcion" 
                                            value="{{item.idEspecialidad}}"
                                            id="{{item.idEspecialidad}}">{{item.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div >
                                <label>Fecha</label>
                                <div class="input-group input-group date" >
                                    <input id="datepicker" type="text" class="form-control" placeholder="{{fechaAc | date:'dd-MM-yyyy'}}" ng-change="buscarEspecialidades()" ng-model="fechaSeleccionada" 
                                           data-date-format="dd-mm-yyyy" data-date-viewmode="years"/>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>                                    
            </div>
        </div>
    </div>
   
    <div >
        <div class="col-md-3" ng-repeat="medicosDisponible in listamedicosEspecialidadEPS" style="cursor:pointer" ng-click="mostrarHoriosDisponible(medicosDisponible)">
            <!-- CONTACT ITEM -->
            <div class="panel panel-default">
                <div class="panel-body profile">
                    <div class="profile-image">
                        <img src="assets/images/users/no-image.jpg" alt="Samuel Leroy Jackson">
                    </div>
                    <div class="profile-data">
                        <div class="profile-data-name">{{medicosDisponible.nombreCompleto}}</div>

                    </div>

                </div>                                
                <div class="panel-body">                                    
                    <div class="contact-info">
                        <p><small>Email</small><br>{{medicosDisponible.correoElectronico}}</p>
                        <p><small>Ciudad</small><br>{{medicosDisponible.ciudad}}</p>                                   
                        <p><small>Localidad</small><br>{{medicosDisponible.localidad}}</p>                                   
                        <p><small>Direccion</small><br>{{medicosDisponible.direccion}}</p>                                   
                        <p><small>Numero consultorio</small><br>{{medicosDisponible.numeroConsultorio}}</p>                                   
                    </div>
                </div>                                
            </div>
        </div> 
    </div>
   
</div>
<div id="vistaHorariosMedicos" class="modal fade" role="dialog">
    <div class="modal-dialog" style="z-index: inherit;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title"><i class="fa fa-calendar"></i>Fecha: {{medicosDisponible1.fechaConsulta}} </h2>
            </div>
            <div style="padding: 21px 14px 2px;">
                <table class="table table-bordered table-striped table-actions">
                    <thead>
                        <tr>                                      
                        <th>Hora inicio </th>
                        <th>Hora fin </th>
                        <th width="10%">Apartar </th>
                        </tr>
                    </thead>
                    <tbody>                                            
                        <tr ng-repeat="citaDisponible in medicosDisponible1.citasDisponibles"
                            ng-click="agendarCitaPaciente(citaDisponible)" ng-if="citaDisponible.estadoCita=='DISPONIBLE'">

                        <td ><strong>{{citaDisponible.horaInicio}}</strong></td>
                        <td ><strong>{{citaDisponible.horaFin}}</strong></td>
                        <td ><button class="btn btn-success"  >
                            <i class="fa fa-check-circle" style="font-size: 25px"></i>
                        </button></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>                        
            </div>
        </div>
    </div>
</div> 


<div class="message-box message-box-success animated fadeIn" id="message-box-success">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-check"></span> Cita</div>
            <div class="mb-content">
                 <p style="color: white">
                    Programada correctamente
                </p>
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" ng-click="$('#message-box-success').modal('hide')">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="message-box message-box-danger animated fadeIn" data-sound="fail"  id="message-box-sound-3">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-times"></span> Error</div>
            <div class="mb-content">
                <div style="color: white">
                    {{generalResponse}}
                </div>                    
            </div>
            <div class="mb-footer">
                <button class="btn btn-default btn-lg pull-right mb-control-close" onClick=" $('#message-box-sound-3').hide()">Error</button>
            </div>
        </div>
    </div>
</div>

