

<!-- Specify a Angular controller script that binds Javascript variables to the feedback messages>
<div class="message" ng-controller="alertMessagesController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
-->
<!--div class="row">
    <form class="navbar-form navbar-left">
        <div class="container-fluid">
            <div class="form-group">
                <label class="navbarText col-sm-2">Filtrar por nombre:</label>
                <div class="col-sm-10">
                    <input type="text"
                           data-ng-model="searchText"
                           data-ng-change="searchTextChanged()"
                           class="novalidate form-control" />
                </div>
                <a href="#"><span class="glyphicon glyphicon-plus"></span> Nuevo Cliente</a>
            </div>
        </div>
    </form>
<div-->

<!-- Specify a Angular controller script that binds Javascript variables to the grid.-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-xs-4">
            <label for="filtro">Filtrar por Nombre:</label>
            <input type="text" id="filtro"
                   data-ng-model="searchText"
                   data-ng-change="searchTextChanged()"
                   />
        </div>  
        <a ui-sref="crearUsuario"><span class="glyphicon glyphicon-plus"></span> Nueva F&oacute;rmula</a>
    </div>
    <div class="panel-body">


        <div style="padding-top: 10px;  border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 0 solid #000000;width: 100%; height: 150px">       

     <div class="form-group" style="padding-left: 80px;padding-top: 40px;">                                                                                        
                <!--h4>Datos del Paciente <h4>
                 <a><label for="nombre">Nombre:{{ nombre }}</label><a>
                 <a><label for="identificacion">Identificaci&oacute;n: {{ identificacion }}</label><a>
                 <p><label for="fechanac">Fecha de Nacimiento: {{ fechanac }}</label><p>
                 <p><label for="correo">E-mail: {{ correo }}</label><p!-->
                <h4><b>DATOS DEL PACIENTE <b><h4>
                <br>
                 <table style="width:80%;padding-left: 100px;">
                  <tr>
                    <td><label>Nombre: </label></td>
                    <td><label for="nombre">{{ nombre }}</label></td>
                  </tr>
                  <tr>
                    <td><label>Identificaci&oacute;n:</label></td>
                    <td><label for="identificacion"> {{ identificacion }}</label></td>
                  </tr>
                  <tr>
                    <td><label>Fecha de Nacimiento:</label></td>
                    <td><label for="fechanac"> {{ fechanac }}</td>
                  </tr>
                  <tr>
                    <td><label>E-mail:</label></td>
                    <td><label for="correo"> {{ correo }}</label></td>
                  </tr>
                </table> 
            </div>       
        <div class="grid">
            <div>
                <h3>Lista de Tratamientos a Asignar</h3>
            </div>
            <!-- Binds the grid component to be displayed. -->
            <button class="btn btn-primary" ng-click = "onAddRow()">Adicionar</button>
            <button class="btn btn-primary" ng-click = "guardar()">Guardar</button>
            <div class="gridStyle" external-scopes="clickHandler" ng-grid="gridOptions">
            

            <!--  Bind the pagination component to be displayed. -->
            <!--pagination direction-links="true" boundary-links="true"
                        total-items="usuarios.totalResults" items-per-page="usuarios.pageSize"
                        ng-model="usuarios.currentPage" ng-change="refreshGrid()">
            </pagination-->
            </div>
        </div>
    </div>
    <div class="panel-body">
            <a href="#/menuhc" class="btn btn-success btn-rounded" role="button">Atras</a>
    </div>
    </div>

