

<!-- Specify a Angular controller script that binds Javascript variables to the feedback messages>
<div class="message" ng-controller="alertMessagesController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
-->
<!-- <div class="row">
    <form class="navbar-form navbar-left">
        <div class="container-fluid">
            <div class="form-group">
                <label class="navbarText col-sm-2">Filtrar por nombre:</label>
                <div class="col-sm-10">
                    <input type="text"
                           data-ng-model="searchText"
                           data-ng-change="searchTextChanged()"
                           class="novalidate form-control" />
                </div>
                <a href="#/menuhc"><span class="glyphicon glyphicon-plus"></span> Nuevo Cliente</a>

            </div>
        </div>
    </form>
<div> -->

<!-- Specify a Angular controller script that binds Javascript variables to the grid.-->
<div class="panel panel-default" border="1">
    <div class="panel-heading">
        <div class="col-xs-4"></div>  
    </div>
    <div class="panel-body">
        <div class="grid" >
            <div>
                <h3>Lista de Medicamentos a Formular</h3>
            </div>
            <!-- Binds the grid component to be displayed. -->
            <button   ng-click = "onAddRow()"  class=" btn btn-success btn-rounded">Adicionar</button>
            <button   ng-click = "guardar()"  class=" btn btn-success btn-rounded">Guardar</button>
            <div class="gridStyle" external-scopes="clickHandler" ng-grid="gridOptions">
            

            <!--  Bind the pagination component to be displayed. -->
            <!--pagination direction-links="true" boundary-links="true"
                        total-items="usuarios.totalResults" items-per-page="usuarios.pageSize"
                        ng-model="usuarios.currentPage" ng-change="refreshGrid()">
            </pagination-->
            </div>
        </div>
    </div>
    <div class="panel-body">
        <a href="#/menuhc" class="btn btn-success btn-rounded" role="button">Atras</a>
    </div>

