


<div class="page-content-wrap">
<div>
<div class="page-title">
        <h2>B&uacute;squeda Avanzada</h2>
</div>

        <form name="epsForm" ng-submit="buscarCitas()" class="form-horizontal" novalidate>
            <div class="col-xs-12" style="padding-top: 0px;margin-bottom: 3em">

                <div class="col-md-6">

                    <!-- Fecha de Constitucion -->
                    <div class="form-group" >
                      <label style="text-align:right" class="col-md-4 label-info control-label label label-form">Citas desde:</label>
                        <span ng-class="{'glyphicon glyphicon-ok' : epsForm.fechaInicio.$valid && epsForm.fechaInicio.$dirty}"></span>
                        <div class="col-md-6 col-xs-12">
                            <input id="fechaInicio" name="fechaInicio" type="date" class="form-control" placeholder="dd/MM/yyyy"
                                   ng-model="filtro.fechaInicio"/>
                        </div>
                    </div>

                    <div class="form-group" >
                    <label style="text-align:right" class="col-md-4 label-info control-label label label-form">M&eacute;dico:</label>
                        <!-- Display a check when the field is valid and was modified -->

                        <div class="col-md-6 col-xs-12">
                         
                          <select class="form-control" name="medico" id="medico" ng-model="filtro.medico" required>
                              <option ng-repeat="option in listaMedicos" value="{{option.idmedico}}">{{option.nombremedico}}</option>
                          </select>
                        </div>


                        <!--
                        <p class="help-block" ng-show="clienteForm.IdType.$error.required">Nombre Grupo.</p>
                        -->
                    </div>


                </div>

                <div class="col-md-6">

                    <!-- Fecha de Constitucion -->
                    <div class="form-group" >
                      <label style="text-align:right" class="col-md-4 label-info control-label label label-form">Citas Hasta:</label>
                        <span ng-class="{'glyphicon glyphicon-ok' : epsForm.fechaInicio.$valid && epsForm.fechaInicio.$dirty}"></span>
                        <div class="col-md-6 col-xs-12">
                            <input id="fechaFin" name="fechaFin" type="date" class="form-control" placeholder="dd/MM/yyyy"
                                   ng-model="filtro.fechaFin"/>
                        </div>
                    </div>
                </div>




                
                <!-- Datos básicos -->
            </div>
            <div class="panel-footer" align="right">                                                                        
                <button type="submit" class="btn btn-primary" >
                    Buscar 
                    <span class="fa fa-floppy-o"></span>
                </button>
            </div>
        </form>
    </div>


  <div class="row"  style="padding-top: 30px;">
    <div class="col-md-6" ng-repeat="hist in historias">
      <div class="panel panel-default">
         <div class="panel-heading">
             <h3 class="panel-title">Examenes</h3>
         </div>
         <div class="panel-body">
            <table class="table table-bordered table-striped table-actions">
              <thead>
                  <tr>
                      <th width="50">Examen</th>
                      <th width="100">detalles</th>
                      <th width="100">observaciones</th>
                      <th width="100">fecha generacion</th>
                      <th width="100">Médico</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="e in hist.examen">
                    <td class="text-center">{{e.idexamen}}</td>
                    <td><strong>{{e.detalles}}</strong></td>
                    <td><strong>{{e.observaciones}}<strong></td>
                    <td><strong>{{e.fechageneracion}}<strong></td>
                    <td><strong>{{e.idcita}}<strong></td>
                </tr>
              </tbody>
            </table>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading">
             <h3 class="panel-title">Cirug&iacute;as</h3>
         </div>
         <div class="panel-body">
            <table class="table table-bordered table-striped table-actions">
              <thead>
                  <tr>
                      <th width="50">Cirugia</th>
                      <th width="100">detalles</th>
                      <th width="100">observaciones</th>
                      <th width="100">fecha generacion</th>
                      <th width="100">Médico</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="ci in hist.cirugia">
                    <td class="text-center">{{ci.idcirugia}}</td>
                    <td><strong>{{ci.detalles}}</strong></td>
                    <td><strong>{{ci.observaciones}}<strong></td>
                    <td><strong>{{ci.fechageneracion}}<strong></td>
                    <td><strong>{{ci.idcita}}<strong></td>
                </tr>
              </tbody>
            </table>
         </div>
      </div>
    </div>
    
    <div class="col-md-6" ng-repeat="hist in historias">
         <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title">Medicamentos</h3>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-striped table-actions">
              <thead>
                  <tr>
                      <th width="50">Médicamento</th>
                      <th width="100">formula</th>
                      <th width="100">fecha generacion</th>
                      <th width="100">Médico</th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="m in hist.medicamentos">
                    <td class="text-center">{{m.idmedicamento}}</td>
                    <td><strong>{{m.formula}}</strong></td>
                    <td><strong>{{m.fechageneracion}}<strong></td>
                    <td><strong>{{m.idcita}}<strong></td>
                </tr>
              </tbody>
            </table>
           </div>
          </div>
          <div class="panel panel-default">
           <div class="panel-heading">
               <h3 class="panel-title">Tratamientos</h3>
           </div>
           <div class="panel-body">
              <table class="table table-bordered table-striped table-actions">
                <thead>
                    <tr>
                        <th width="50">Tratamiento</th>
                        <th width="100">observaciones</th>
                        <th width="100">fecha generacion</th>
                        <th width="100">Médico</th>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="t in hist.tratamiento">
                      <td class="text-center">{{t.idtratamiento}}</td>
                      <td><strong>{{t.observaciones}}</strong></td>
                      <td><strong>{{t.fechageneracion}}<strong></td>
                      <td><strong>{{t.idcita}}<strong></td>
                  </tr>
                </tbody>
              </table>
           </div>
      </div>
        </div>
    

  </div>
</div>     